line-bot-sdk
bs4
flask
datetime
pandas
scipy
pymysql
requests
matplotlib
imgur-python
imgurpython
FinMind
mplfinance
python-dateutil
plotly
kaleido
yfinance
openai
langchain==0.0.345
pdfplumber
faiss-cpu